streamlit>=1.43.1
numpy>=1.25
pandas>=2.0
scikit-learn
python-dotenv
nltk
spacy>=3.0
docx2txt
pdfplumber
matplotlib
seaborn
pyyaml
python-dotenv
joblib
PyPDF2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.g
